.about_section {
  padding: 28x 0;
  background-color: var(--bg-primary);
  width: 100%;
}


.about_bg {
  background-image: url("/image7.jpg");
  background-size: contain;
  background-repeat: no-repeat; 
}

.about_section .container {
  flex-direction: row;
}

@media (max-width: 992px) {
  .about_section .container {
    flex-direction: column-reverse;
  }
}
