.about_section {
  padding: 100px 0;
  background-color: var(--bg-primary);
  width: 100%;
}

/* .about_bg {
  background-image: url("/image7.jpg");
  background-position: start;
  background-size: cover;
} */

.about_bg {
  background-image: url("/image7.jpg");
  /* background-position: top center; */
  background-size: contain; /* Force l'image à s'afficher entièrement */
  background-repeat: no-repeat; /* Évite que l'image se répète si le conteneur est grand */
}

.about_section .container {
  flex-direction: row;
}

@media (max-width: 992px) {
  .about_section .container {
    flex-direction: column-reverse;
  }
}
